page-register {
    .item-md {
        background-color: transparent !important;
    }
    
    .content-md {
        background:transparent;
    }
    .content-wp {
        background:transparent;
    }
    .content-ios {
        background:transparent;
    }

}
