page-monster {
    .finished {
        float: right;
        width: 95%;
        display: block;
        font-size: 1.4rem;
        border-radius: 5px;
        font-family: monospace;
        margin: 10px;
        border: 1px dashed #888;
        padding: 5px;
    
      }
      .ghost {
        width:90px;
        height:90px;
        display:block;
      }
      .red {
        color: greenyellow;;
        font-size: 2rem;
        font-weight: bolder;
        text-transform: uppercase;
      }
      .red2 {
        color: greenyellow;;
        font-size: 2rem;
        font-weight: bolder;
        text-transform: uppercase;
      }
      .red3 {
        color: greenyellow;;
        font-size: 2rem;
        font-weight: bolder;
        text-transform: uppercase;
      }
      .red4 {
        color: greenyellow;;
        font-size: 2rem;
        font-weight: bolder;
        text-transform: uppercase;
      }
      .monsterimage {
        float: left;
        position: absolute;
        width: 100%;
        height: auto;
        text-align: center;
        left: 120px;
        top: 110px;
    }
     
      .finished2 {
        float: left;
        width: 100%;
        display: block;
        color: #fff;
        height: auto;
        font-size: 1.4rem;
        font-family: monospace;
        text-transform: uppercase;
        
      }
      
      .monname {
        display: block;
        width: 100%;
        text-align: center;
        top: 240px;
        color: #fff;
        right: 30px;
        top: 230px;
        height: auto;
        position: absolute;
        
      }
      .monname2 {
        display: block;
        width: 100%;
        text-align: center;
        top: 240px;
        color: #fff;
        right: 30px;
        top: 10px;
        height: auto;
        position: absolute;
        
      }
      .montitle {
         
          display: block;
          width: 100%;
          text-align: center;
          top: 240px;
          color: #fff;
          right: 30px;
          top: 150px;
          height: auto;
          position: absolute;
      }
      .tekst {
        position: relative;
        width: 290px;
        height: 150px;
        display: block;
        margin: 0 auto;
        
    
      }
      .infotekst {
          padding-top: 40px;
          display: block;
          width: 100%;
          text-align: center;
          text-shadow: 1px 0px 1px #000;
          height: auto;
          float: left;
          margin: 0 auto;
          color: #fff;
          position: relative;
      }
      .monname2 {
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
        right: 40px;
        height: auto;
        position: absolute;
      }
      .item-md.item-block .item-inner {
        border-bottom: none;
      }
      .bariswidth {
        display: block;
        position: absolute;
        height: 15px;
        top: 0px;
        background-color: #2f2;
        border-radius: 10px;
        -webkit-box-shadow: 2px 2px 5px #000;
        box-shadow: 2px 2px 5px #000;
        color: #000;
        text-align: center;

      }
      .hollowbar {
        display: block;
        height:17px;
        background-color:#ddd;
        border-radius:10px;
        box-shadow: 2px 2px 5px #000;
        color:#000;
        text-align: center;
        width: 100%;
        max-width: 100%;
        float:left;
      }
      .texttitles {
        display:block;
        float:left;
        font-size: 20px;
        margin-right: 10px;
      }
      .getrow {
        width:100%;
        display:inline-flex;
        padding-bottom: 5px;
      }
      .bariswidth2 {
        display: block;
        position: absolute;
        height: 15px;
        top: 58px;
        background-color: #2f2;
        border-radius: 10px;
        -webkit-box-shadow: 2px 2px 5px #000;
        box-shadow: 2px 2px 5px #000;
        color: #000;
        text-align: center;
      }
      
}
