.card-header-md {

    font-size: 1.2rem;
    font-weight: 500;
    color: #dddddd;
    padding: 5px;
    background-color: #1E1E1E;
}
.card-header-ios {
    font-size: 1.2rem;
    font-weight: 500;
    color: #dddddd;
    padding: 5px;
    background-color: #1E1E1E;
}
.card-header-wp {
    font-size: 1.2rem;
    font-weight: 500;
    color: #dddddd;
    padding: 5px;
    background-color: #1E1E1E;
}
.ion-page.show-page {
    background-image: url("../assets/imgs/Untitled-1.png");
background-color: transparent;
}
.content-md {
    background:transparent;
}
.content-wp {
    background:transparent;
}
.content-ios {
    background:transparent;
}
.item-md {
    background:transparent;
}
.item-wp {
    background:transparent;
}
.item-ios {
    background:transparent;
}
.toolbar-background-md {
    background:transparent;
}
.toolbar-background-wp {
    background:transparent;
}
.toolbar-background-ios {
    background:transparent;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}